.wrapRegister {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // min-height: 80vh;
  text-align: center;
  // padding: 30px 0;
  max-width: 500px;
  width: 100%;
  @media screen and (max-width: 570px) {
    padding: 10px 0;
  }
  .register {
    max-width: 550px;
    width: 100%;
    border: 3px solid #ff5a5f;
    border-radius: 30px;
    padding: 30px;
    box-shadow: 0px 0px 10px #ff5a5f;
    background-color: #fff;

    .title {
      margin-bottom: 50px;
      .iconRegister {
        margin: 0 auto;
        width: 50px;
        height: 50px;
        border: 3px solid #ff5a5f;
        border-radius: 50%;
        color: #ff5a5f;
        background-color: #fff;
        line-height: 35px;
        font-size: 30px;
        text-align: center;
        box-shadow: 0px 0px 10px #ff5a5f;
      }
      h1 {
        margin: 10px 0 0;
        color: #ff5a5f;
      }
    }

    .formRegister {
      .inputRegister {
        margin-bottom: 10px;
        width: 100%;
        label {
          display: inline-block;
          width: 25%;
          text-align: left;
          margin-bottom: 10px;
          margin-left: 20px;
          font-weight: 600;
          font-size: 17px;
          color: #000;
          margin: 0;
          @media screen and (max-width: 500px) {
            font-size: 14px;
          }
        }
        input {
          width: 75%;
          padding: 10px;
          border-radius: 10px;
          border: 2px solid black;
          color: #000;
          &:focus {
            border-color: #ff5a5f;
          }
          @media screen and (max-width: 500px) {
            font-size: 14px;
            padding: 8px;
          }
        }
        select {
          width: 75%;
          padding: 10px;
          border-radius: 10px;
          border: 2px solid black;
          &:focus {
            border-color: #ff5a5f;
          }
        }

        .txtError {
          font-size: 14px;
          color: red;
          text-align: left;
          transform: translateX(30%);
          margin: 0;
          p {
            width: 100%;
          }
        }
      }

      .btn {
        margin: 50px 0 20px;
        font-size: 20px;
        button {
          width: 100%;
          padding: 15px;
          font-weight: 600;
          color: #ff5a5f;
          background-color: #fff;
          border-radius: 20px;
          border: 2px solid rgb(255, 0, 0);
          &:hover {
            color: #fff;
            background-color: #ff5a5f;
          }
        }
      }
    }
  }
}
